body {
	font-family: skia;
	cursor: default;
}

.has-hover {
	box-shadow: 0px 1px 5px rgba(0, 0, 0, .05);
	transition: all 0.2s ease-in;
	will-change: transform, box-shadow;
}

.has-hover:hover {
	box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, .08);
	transform: translateY(-5px);
}

.site-title {
	font-family: 'Personality DEMO';
	font-size: 80px;
	margin-top: 50px;
}

.site-title img {
	margin-left: -200px;
	margin-bottom: -70px;
}

.site-subtitle {
	font-size: 20px;
	color: #9f9fa0;
	font-weight: 200;
}

.social-links .nav-link {
	transition: transform 0.2s ease-in;
	padding: .5rem 0.6rem;
}

.social-links .nav-link:hover {
	transform: scale(1.1);
}

.menu1 {
	margin-top: 30px;
	font-weight: 200;
}

.menu1 .nav-link {
	color: gray;
	transition: color 0.1s ease-in;
}

.menu1 .nav-link.active {
	font-weight: bold;
}

.menu1 .nav-link:hover {
	color: black;
}

.card-columns {
	column-count: 4;
}

.card-columns .card {
	margin-bottom: 1.25rem;
}

.card-title {
	color: purple;
	font-weight: 400;
	font-size: 18px;
}

.card-text {
	color: gray;
	font-size: 14px;
}

@media (max-width: 992px) {
	.card-columns {
		column-count: 3;
	}
}

@media (max-width: 768px) {
	.card-columns {
		column-count: 2;
	}
}

@media (max-width: 576px) {
	.site-title img {
		margin-left: -0;
		margin-bottom: -0;
	}

	.card-columns {
		column-count: 1;
	}
}
