body {
	font-family:'skia';
	margin: 6%;
}

.menu1 {
	margin-top: 30px;
	font-family: skia;
	font-weight: 200;
}

.site-title {
	font-family: 'Personality DEMO';
	font-size: 80px;
	margin-top: 200px;
}

.site-subtitle {
	font-size: 20px;
	font-family: skia;
	color: #9f9fa0;
	font-weight: 200;
}

.nav-link {
	color: black;
}

.card-columns {
	column-count: 4 !important;
	margin-top: 30px;
} 

.card-title {
	color: purple;
	font-weight: 400;
	font-size: 18px;
	font-family: skia;
}

.card-text {
	color: gray;
	font-size: 14px;
	font-family: skia;
}
